.v-select > .vs__dropdown-toggle {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
.v-select .vs__selected-options, .vs__search, .vs__actions {
  display: flex;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

.v-select  input.vs__search {
  color: #6B7280;
}